<?xml version="1.0"?>
<config>
    <modules>
        <SLAP_DoorNumber>
            <version>1.0.0</version>
        </SLAP_DoorNumber>
    </modules>
    <global>
        <helpers>
            <slap_doornumber>
                <class>SLAP_DoorNumber_Helper</class>
            </slap_doornumber>
        </helpers>
        <resources>
            <slap_doornumber_setup>
                <setup>
                    <module>SLAP_DoorNumber</module>
                    <class>Mage_Customer_Model_Resource_Setup</class>
                </setup>
            </slap_doornumber_setup>
        </resources>
    </global>
    <frontend>
        <layout>
            <updates>
                <slap_doornumber>
                    <file>slap_doornumber</file>
                </slap_doornumber>
            </updates>
        </layout>
        <translate>
            <modules>
                <SLAP_DoorNumber>
                    <files>
                        <default>SLAP_DoorNumber.csv</default>
                    </files>
                </SLAP_DoorNumber>
            </modules>
        </translate>
    </frontend>
</config>